@page "/"
@using System.Globalization;

<div class=@(Game.IsRunning ? "movingBackground" : "stillBackground") @onclick="Action">
    <h2 class="score">Score: @Game.Score</h2>
    <img src=@Game.Bird.ImagePath height="@Game.Bird.Size" width="@Game.Bird.Size" style="transform: translate(@Game.Bird.X.ToPixelString(), @Game.Bird.Y.ToPixelString()) rotate(@Game.Bird.Rotation.ToDegString());" />
    @foreach (var pipe in Game.Pipes)
    {
        <img src="/images/pipe.png" height="@pipe.Height" width="50" style="margin: @pipe.Y.ToPixelString() 0 0 @pipe.X.ToPixelString(); transform:rotate(@pipe.Rotation.ToDegString());" />
    }
</div>

